@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Inter:wght@200&family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&family=Noto+Sans+Lao:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
  }
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-arrow,
.slick-prev {
  color: #000000;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

.contact_form .form-control {
  line-height: 1.5;
  color: #ffffff;
  background-color: #0c0c0c;
  border-radius: 0 !important;
  border: 1px solid #fff;
  width: 100%;
}

.contact_form input.form-control {
  margin-bottom: 2rem;
}

.link-ativo {
  text-decoration: none;
  border: 1px;
  border-bottom: 3px solid #457191;
}

.link-ativo:active {
  border: 3px;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */